@{
    ViewData["Title"] = "Home Page";
}
<div id="alert" class="alert-warning" style="display:none">
    <p id="alert_text">should check in on some of those fields below.</p>
</div>
<h4 style="text-align: center">Commons - Main Chamber</h4>
<div id="filter_bar">
    <input type="week" id="week"/>
</div>
<div id="root">
    
</div>
